#body{
    width: auto;
    height: 50px;
    display: grid;
    grid-template-columns: 30% 20%;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    box-shadow: rgb(23, 43, 96);
    border: none;
    padding: 1% 5% 1% 5%;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 43%);
}

#right_navbar{
    display: flex;
    align-items: center;
    gap: 8%;
    color: #e4dded;
    height: 100%;
}

#left_navbar{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

#detail_button{
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 14%;
    transition: 400ms;
    background: url(./menu-hambuger-white.svg)  no-repeat center transparent;
    z-index: 990;
}

#detail_button:hover{
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 16%;
    transition: 400ms;
    background: url(./menu-hambuger.svg)  no-repeat center #e4dded;
}

#users_button{
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 14%;
    transition: 400ms;
    background: url(./group.svg)  no-repeat center transparent;
}

#users_button:hover{
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 15%;
    transition: 400ms;
    background: url(./group\ copy.svg)  no-repeat center #e4dded;
}

#logout_button{
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 17%;
    transition: 400ms;
    background: url(./logout-white.svg)  no-repeat center transparent;
}

#logout_button:hover{
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 21%;
    transition: 400ms;
    background: url(./logout.svg)  no-repeat center #e4dded;
}

#home_icon{
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 11%;
    transition: 400ms;
    background: url(./home.svg)  no-repeat center transparent;
    z-index: 990;

}


#home_icon:hover{
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 12%;
    transition: 400ms;
    background: url(./home\ copy.svg)  no-repeat center #e4dded;
}
